<h1 class="text-4xl font-bold">Change password</h1>
<%= form_with model: Current.user, url: password_path, class: "flex flex-col w-full" do |form| %>
  <% if form.object.errors.any? %>
    <div class="m-2 p-5 w-full bg-red-500">
      <ul class="list-disc">
        <% form.object.errors.full_messages.each do |message| %>
          <li class="ml-3 text-red-900 my-1">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="m-2 flex flex-col">
    <%= form.label :password %>
    <%= form.password_field :password, class: "border-2 border-black w-52 p-2", placeholder: "password" %>
  </div>
  <div class="m-2 flex flex-col">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "border-2 border-black w-52 p-2", placeholder: "password" %>
  </div>
  <div class="m-2">
    <%= form.submit "Update Password", class: "border-2 border-black p-3" %>
  </div>
<% end %>
